<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="project.community.mybatis.mappers.Mapper">

    <select id="findAllBoard" resultType="project.community.board.web.BoardDto">
        SELECT * from board_tb;
    </select>

    <select id="countBoard" resultType="int">
        SELECT COUNT(*) FROM board_tb
    </select>

    <select id="findBoardList" resultType="project.community.board.web.BoardDto">
        SELECT board_tb.uid, category_tb.category, member_tb.nickname AS writer, board_tb.title, board_tb.content, board_tb.regdate, board_tb.view,
        SUM(CASE WHEN recommend_tb.rec_nrec = 'R' THEN 1 ELSE 0 END) AS rec
        FROM board_tb
        INNER JOIN category_tb ON category_tb.uid = board_tb.category
        INNER JOIN member_tb ON member_tb.email = board_tb.writer
        LEFT JOIN recommend_tb ON recommend_tb.board_uid = board_tb.uid
        GROUP BY board_tb.uid, category_tb.category, member_tb.nickname, board_tb.title,
        board_tb.content, board_tb.regdate, board_tb.view, rec
        ORDER BY board_tb.uid DESC
        LIMIT 15 OFFSET #{offSet}
    </select>

    <select id="findHomeBoardList" resultType="project.community.board.web.BoardDto">
        SELECT board_tb.uid, category_tb.category, member_tb.nickname AS writer, board_tb.title, board_tb.content, board_tb.regdate, board_tb.view,
        SUM(CASE WHEN recommend_tb.rec_nrec = 'R' THEN 1 ELSE 0 END) AS rec
        FROM board_tb
        INNER JOIN category_tb ON category_tb.uid = board_tb.category
        INNER JOIN member_tb ON member_tb.email = board_tb.writer
        LEFT JOIN recommend_tb ON recommend_tb.board_uid = board_tb.uid
        GROUP BY board_tb.uid, category_tb.category, member_tb.nickname, board_tb.title,
        board_tb.content, board_tb.regdate, board_tb.view, rec
        ORDER BY board_tb.uid DESC
        LIMIT 5 OFFSET #{offSet}
    </select>

    <insert id="insertBoard">
        INSERT INTO board_tb(title, content, category, writer)
        VALUES(#{title}, #{content}, #{categoryNo}, #{writer})
    </insert>

    <select id="findBoard" resultType="project.community.board.web.BoardDto">
        SELECT board_tb.uid, category_tb.category, member_tb.nickname AS writer, board_tb.title, board_tb.content,
        board_tb.regdate, board_tb.view,
        SUM(CASE WHEN recommend_tb.rec_nrec = 'R' THEN 1 ELSE 0 END) AS rec
        FROM board_tb
        INNER JOIN category_tb ON category_tb.uid = board_tb.category
        INNER JOIN member_tb ON member_tb.email = board_tb.writer
        LEFT JOIN recommend_tb ON recommend_tb.board_uid = board_tb.uid
        WHERE board_tb.uid = #{uid}
        GROUP BY board_tb.uid, category_tb.category, member_tb.nickname, board_tb.title,
                board_tb.content, board_tb.regdate, board_tb.view;
    </select>

    <update id="updateBoard">
        UPDATE board_tb
        SET title = #{title}, category = #{categoryNo}, content = #{content}
        WHERE uid = #{uid};
    </update>

    <delete id="deleteBoard">
        DELETE FROM board_tb
        WHERE uid= #{uid};
    </delete>

    
    <insert id="insertMember">
        INSERT INTO member_tb(email, nickname, password, salt)
        VALUES(#{email}, #{nickName}, #{password}, #{salt})
    </insert>

    <select id="memberInfo" resultType="project.community.user.web.MemberDto">
        SELECT * FROM member_tb
        WHERE email = #{email};
    </select>

    <select id="findEmail" resultType="int">
        SELECT count(*) from member_tb
        WHERE email = #{email};
    </select>

    <select id="findByEmail" resultType="project.community.user.web.MemberDto">
        SELECT * from member_tb
        WHERE email = #{email};
    </select>

    <select id="findNick" resultType="int">
        SELECT count(*) from member_tb
        WHERE nickname = #{nickName};
    </select>

    <select id="singIn" resultType="project.community.user.web.MemberDto">
        select * from member_tb
        where email = #{email};
    </select>
    
    
    <insert id="insertComment">
        INSERT INTO comment_tb(content, writer, board_uid)
        VALUES(#{content}, #{writer}, #{board_uid})
    </insert>

    <select id="findCmt" resultType="project.community.comment.CommentDto">
        SELECT comment_tb.uid, member_tb.nickname AS writer,comment_tb.board_uid, comment_tb.content, comment_tb.up_point, comment_tb.down_point
        FROM comment_tb
        INNER JOIN member_tb ON member_tb.email = comment_tb.writer
        WHERE comment_tb.board_uid = #{board_uid}
    </select>

    <select id="findReply" resultType="project.community.comment.ReplyDto">
        SELECT reply_tb.uid, member_tb.nickname AS writer,reply_tb.cmt_uid, reply_tb.content, reply_tb.up_point, reply_tb.down_point
        FROM reply_tb
        INNER JOIN member_tb ON member_tb.email = reply_tb.writer
        WHERE reply_tb.cmt_uid = #{cmt_uid}
    </select>

    <update id="updateMember">
        UPDATE member_tb
        SET nickname = #{nickName}
        WHERE email = #{email};
    </update>

    <insert id="insertCode">
        INSERT INTO code_tb(code, codetime)
        VALUES(#{code}, #{codetime})
    </insert>

    <select id="checkCode" resultType="project.community.user.domain.Code">
        SELECT * FROM code_tb
        WHERE code = #{code};
    </select>

    <select id="findCode" resultType="int">
        SELECT count(*) FROM code_tb
        WHERE code = #{code};
    </select>

    <delete id="deleteCode">
        DELETE FROM code_tb
        WHERE code= #{code};
    </delete>

    <update id="viewUp">
        UPDATE board_tb
        SET view = view + 1
        WHERE uid = #{uid};
    </update>

    <insert id="pointUp">
        insert into recommend_tb(member_email, board_uid, rec_nrec)
        values(#{email}, #{board_uid}, 'R');
    </insert>

    <select id="findRecEmail" resultType="int">
        select count(*) from recommend_tb
        where member_email = #{email}
    </select>

    <update id="updateCmt">
        UPDATE comment_tb
        SET content = #{content}
        WHERE uid = #{uid};
    </update>

    <delete id="deleteCmt">
        delete from comment_tb
        where uid = #{uid}
    </delete>

    <insert id="insertReply">
        INSERT INTO reply_tb(content, writer, cmt_uid)
        VALUES(#{content}, #{writer}, #{cmt_uid})
    </insert>

    <update id="updateReply">
        UPDATE reply_tb
        SET content = #{content}
        WHERE uid = #{uid};
    </update>

    <delete id="deleteReply">
        delete from reply_tb
        where uid = #{uid}
    </delete>

    <select id="searchBoardList" resultType="project.community.board.web.SearchDto">
        SELECT board_tb.uid, member_tb.nickname AS writer, board_tb.title, board_tb.content, board_tb.regdate
        FROM board_tb
        INNER JOIN member_tb ON member_tb.email = board_tb.writer
        <where>
            <if test="ctg == 'title'">
                AND title LIKE CONCAT('%', #{text}, '%')
            </if>
            <if test="ctg == 'writer'">
                AND writer LIKE CONCAT('%', #{text}, '%')
            </if>
            <if test="ctg == 'content'">
                AND board_tb.content LIKE CONCAT('%', #{text}, '%')
            </if>
        </where>
        ORDER BY board_tb.uid DESC
        LIMIT 5 OFFSET #{offSet}
    </select>

    <select id="searchCount" resultType="int">
        SELECT COUNT(*)
        FROM board_tb
        <where>
            <if test="ctg == 'title'">
                AND title LIKE CONCAT('%', #{text}, '%')
            </if>
            <if test="ctg == 'writer'">
                AND writer LIKE CONCAT('%', #{text}, '%')
            </if>
            <if test="ctg == 'content'">
                AND board_tb.content LIKE CONCAT('%', #{text}, '%')
            </if>
        </where>
    </select>
</mapper>