<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="project.community.mybatis.mappers.Mapper">

    <select id="findAllBoard" resultType="project.community.board.dto.BoardDto">
        SELECT * from board_tb;
    </select>

    <select id="countBoard" resultType="int">
        SELECT COUNT(*) FROM board_tb
    </select>

    <select id="findBoardList" resultType="project.community.board.dto.BoardDto">
        SELECT board_tb.uid, category_tb.category, member_tb.nickname AS writer, board_tb.title, board_tb.content, board_tb.regdate, board_tb.view, board_tb.up_point
        FROM board_tb
        INNER JOIN category_tb ON category_tb.uid = board_tb.category
        INNER JOIN member_tb ON member_tb.email = board_tb.writer
        ORDER BY board_tb.uid DESC
        LIMIT 15 OFFSET #{offSet}
    </select>

    <insert id="insertBoard">
        INSERT INTO board_tb(title, content, category, writer)
        VALUES(#{title}, #{content}, #{category}, #{writer})
    </insert>

    <select id="findBoard" resultType="project.community.board.dto.BoardDto">
        SELECT board_tb.uid, category_tb.category, member_tb.nickname AS writer, board_tb.title, board_tb.content, board_tb.regdate, board_tb.view, board_tb.up_point
        FROM board_tb
        INNER JOIN category_tb ON category_tb.uid = board_tb.category
        INNER JOIN member_tb ON member_tb.email = board_tb.writer
        WHERE board_tb.uid = #{uid};
    </select>

    <update id="updateBoard">
        UPDATE board_tb
        SET title = #{title}, category = #{categoryNo}, content = #{content}
        WHERE uid = #{uid};
    </update>

    <delete id="deleteBoard">
        DELETE FROM board_tb
        WHERE uid= #{uid};
    </delete>

    
    <insert id="insertMember">
        INSERT INTO member_tb(terms, email, nickname, password)
        VALUES(#{terms}, #{email}, #{nickName}, #{password})
    </insert>

    <select id="memberInfo" resultType="project.community.user.dto.MemberDto">
        SELECT * FROM member_tb
        WHERE email = #{email};
    </select>

    <select id="findEmail" resultType="int">
        SELECT count(*) from member_tb
        WHERE email = #{email};
    </select>

    <select id="findByEmail" resultType="project.community.user.dto.MemberDto">
        SELECT * from member_tb
        WHERE email = #{email};
    </select>

    <select id="findNick" resultType="int">
        SELECT count(*) from member_tb
        WHERE nickname = #{nickName};
    </select>

    <select id="singIn" resultType="project.community.user.dto.MemberDto">
        select * from member_tb
        where email = #{email};
    </select>
    
    
    <insert id="insertComment">
        INSERT INTO comment_tb(content, writer)
        VALUES(#{content}, #{writer})
    </insert>
</mapper>