<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="project.community.mybatis.mappers.Mapper">

    <select id="findAllBoard" resultType="project.community.board.dto.BoardDto">
        SELECT * from board_tb;
    </select>

    <select id="countBoard" resultType="int">
        SELECT COUNT(*) FROM board_tb
    </select>

    <select id="findBoardList" resultType="project.community.board.dto.ListSetDto">
        SELECT * FROM board_tb ORDER BY board_tb.uid DESC
        LIMIT 15 OFFSET #{offset}
    </select>

    <insert id="insertBoard">
        INSERT INTO board_tb(title, content, category)
        VALUES(#{title}, #{content}, #{category})
    </insert>

</mapper>