<!DOCTYPE html>
<html xmlns:th=”http://www.thymeleaf.org”>
<head>
  <meta charset="UTF-8">
  <title>게시판</title>
  <link rel="stylesheet" href="/css/topstyle.css"/>
</head>
<body>
<header th:replace="layout :: header"></header>
<main>
  <div th:fragment="content">
      <div id="main-top-loginBox" th:unless="${member}">
        <a type="button" th:href="@{login}" id="login-btn">로그인</a>
        <a type="button" th:href="@{account}" id="create-act">회원 가입</a>
      </div>
      <div id="main-top-infoBox" th:if="${member}">
        <div>
          <a th:href="@{member}" th:text="${member.nickName}"></a>
          <span>님 안녕하세요.</span>
        </div>
        <div>
          <a type="button" th:href="@{logout}" id="logout-btn">로그 아웃</a>
        </div>
      </div>
  </div>
</main>

</body>
</html>