<!DOCTYPE html>
<html xmlns:th=”http://www.thymeleaf.org”>
<head>
  <meta charset="UTF-8">
  <title>자유 게시판</title>
  <link rel="stylesheet" href="/css/boardstyle.css"/>
  <link rel="stylesheet" href="/css/H&Fstyle.css"/>
  <link rel="stylesheet" href="/css/topstyle.css"/>
</head>
<body>
<header th:replace="~{layout/layout :: header}"></header>
<main>
  <div id="main-top">
    <div id="main-top-title">
      <span>자유 게시판</span>
    </div>
    <div th:replace="~{layout/toplayout :: content}"></div>
  </div>
  <div th:replace="~{layout/boardlayout :: content}"></div>
</main>
<footer th:replace="~{layout/layout :: footer}"></footer>
<script src="/js/SearchCtg.js"></script>

</body>
</html>