<!DOCTYPE html>
<html xmlns:th=”http://www.thymeleaf.org”>
<head>
  <meta charset="UTF-8">
  <title>게시글 보기</title>
  <link rel="stylesheet" href="/css/poststyle.css"/>
  <link rel="stylesheet" href="/css/asidestyle.css"/>
  <link rel="stylesheet" href="/css/boardstyle.css"/>
  <link rel="stylesheet" href="/css/H&Fstyle.css"/>
  <link rel="stylesheet" href="/css/topstyle.css"/>
</head>
<body>
<header th:replace="~{layout/layout :: header}"></header>
<main>
  <div id="main-top">
    <div id="main-top-title">
      <span>게시글</span>
    </div>
    <div th:replace="~{layout/toplayout :: content}"></div>
  </div>
  <div th:replace="~{layout/asidelayout :: content}"></div>
  <div id="post-top-box">
    <ul id="post-top-item-box">
      <li class="post-top-item">
        <span th:text="${posting.writer}"></span>
      </li>
      <li class="post-top-item">
        <span th:text="${@TimeT.date(posting.regdate.toString())}"></span>
      </li>
      <li class="post-top-item">
        <span th:text="${posting.view}"></span>
      </li>
      <li class="post-top-item">
        <span th:text="${posting.upPoint}"></span>
      </li>
    </ul>
  </div>
  <div id="post-top-title-box" >
    <span id="post-top-ctg" th:text="${posting.category}"></span>
    <span id="post-top-title" th:text="${posting.title}"></span>
  </div>
  <div id="post-mid-content-box">
    <p id="post-mid-content" th:utext="${posting.content}"></p>
  </div>
    <div id="update-btn" th:if="${member != null && (member.nickName == posting.writer)}">
      <a title="수정" role="button" th:href="@{/update(uid = ${posting.uid})}">수정</a>
      <a title="삭제" id="delete-btn" th:href="@{/delete(uid = ${posting.uid}, writer = ${posting.writer})}">삭제</a>
    </div>
  <form id="post-btm-box">
    <button class="post-btm-btn">
      <span>주소 복사</span>
    </button>
    <div id="up-down-btn">
      <button class="post-btm-btn">
        <img class="btm-btn-img" src="/img/up.svg" alt="x">
      </button>
      <button class="post-btm-btn">
        <img class="btm-btn-img" src="/img/down.svg" alt="x">
      </button>
    </div>
  </form>
  <div id="post-cmt-box">
    <form id="cmt-box" th:object="${commentDto}" th:action="@{write-cmt}" method="post" onsubmit="return set()">
      <div id="cmt-top">

        <div id="cmt-top-title">
          <span>댓글</span>
          <p class="failed" th:if="${#fields.hasErrors('content')}" th:errors="*{commentDto.content}"></p>
        </div>
        <button type="button" id="cmt-top-btn">
          <span>작성</span>
        </button>
      </div>
      <div id="cmt-write-box" style="height: 0px;">
        <textarea id="cmt-write"></textarea>
        <input id="input-cmt" type="hidden" name="content" value="" th:field="*{content}">
        <input th:if="${member != null}" id="writer-cmt" type="hidden" name="writer" th:value="${member.email}">
        <input class="boardUid-cmt" type="hidden" name="uid" th:value="${posting.uid}">
        <button type="button" id="cmt-btn" >
          <span>댓글 달기</span>
        </button>
      </div>
    </form>

      <div class="cmt-main-box" th:if="cmt != null" th:each="cmtList, stat : ${cmt}">
        <div class="cmt-main">
          <div class="cmt-main-left">
            <div class="cmt-main-nick">
              <span th:text="${cmtList.writer}">닉네임</span>
            </div>
            <div id="btn-box" th:if="${member != null && (member.nickName == cmtList.writer)}">
            <button style="display: block;" type="button" class="cmt-main-update"> 수정</button>
            <button style="display: block;" type="button" class="cmt-main-del">삭제</button>
            <button style="display: none;" type="button" class="update-confirm"> 작성</button>
            <button style="display: none;" type="button" class="update-cancel">취소</button>
            </div>
          </div>
          <div class="cmt-main-num">
            <span th:text="${cmtList.up_point}"></span>
            <span th:text="${cmtList.down_point}"></span>
          </div>
        </div>
        <div class="cmt-main-content-box">
          <form class="cmt-main-content" th:action="@{update-cmt}" method="post">
            <input class="boardUid" type="hidden" name="board_uid" th:value="${cmtList.board_uid}">
            <input class="cmtUid" type="hidden" name="uid" th:value="${cmtList.uid}">
            <input class="cmt-update-input" type="hidden" name="content">
            <textarea class="cmt-content-update" style="display: none;"></textarea>
            <p class="cmt-content" style="display: block;" th:utext="${cmtList.content}"></p>
          </form>
          <div class="cmt-main-btn-box">
            <button type="button" class="cmt-main-btn">
              <img class="cmt-up-img" src="/img/minup.svg" alt="x">
            </button>
            <button type="button" class="cmt-main-btn">
              <img class="cmt-down-img" src="/img/mindown.svg" alt="x">
            </button>
            <button type="button" class="cmt-main-btn">
              <span>답글</span>
            </button>
            <button type="button" class="cmt-main-btn">
              <span>신고</span>
            </button>
          </div>
        </div>
        <div class="cmt-cmt-write-box" style="height: 0px;">
          <textarea class="cmt-cmt-write"></textarea>
          <input class="input-cmt-cmt" type="hidden" name="content" value="">
          <button type="button" class="cmt-cmt-btn">
            <span>댓글 달기</span>
          </button>
        </div>
      </div>
<!--      <div class="cmt-cmt-box">-->
<!--        <div class="cmt-main">-->
<!--          <div class="cmt-main-left">-->
<!--            <div class="cmt-main-nick">-->
<!--              <span>닉네임</span>-->
<!--            </div>-->
<!--            <button class="cmt-main-update">-->
<!--              <span>수정</span>-->
<!--            </button>-->
<!--            <button class="cmt-main-del">-->
<!--              <span>삭제</span>-->
<!--            </button>-->
<!--          </div>-->
<!--          <div class="cmt-main-num">-->
<!--            <span>0</span>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="cmt-main-content-box">-->
<!--          <div class="cmt-main-content">-->
<!--            <p>내용</p>-->
<!--          </div>-->
<!--          <div class="cmt-main-btn-box">-->
<!--            <button class="cmt-main-btn">-->
<!--              <img class="cmt-up-img" src="/img/minup.svg" alt="x">-->
<!--            </button>-->
<!--            <button class="cmt-main-btn">-->
<!--              <img class="cmt-down-img" src="/img/mindown.svg" alt="x">-->
<!--            </button>-->
<!--            <button class="cmt-main-btn">-->
<!--              <span>답글</span>-->
<!--            </button>-->
<!--            <button class="cmt-main-btn">-->
<!--              <span>신고</span>-->
<!--            </button>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
  </div>
  <div th:replace="~{layout/boardlayout :: content}"></div>
</main>
<footer th:replace="~{layout/layout :: footer}"></footer>
<script src="/js/cmt.js"></script>
<script src="/js/SearchCtg.js"></script>
<script th:inline="javascript" nonce="my_nonce">
        let content = document.querySelector("#input-cmt");
        const cmtInsert = document.querySelector("#cmt-btn");
        let cmtWrite = document.querySelector("#cmt-write");
        const insertForm = document.querySelector("#cmt-box");

        const updateBtns = document.querySelectorAll(".cmt-main-update");
        const deleteBtns = document.querySelectorAll(".cmt-main-del");
        const confirmBtns = document.querySelectorAll(".update-confirm");
        const cancelBtns = document.querySelectorAll(".update-cancel");
        const cmtContents = document.querySelectorAll(".cmt-content");
        const cmtUpdate = document.querySelectorAll(".cmt-content-update");
        const updateInputs = document.querySelectorAll(".cmt-update-input");
        const updateForms = document.querySelectorAll(".cmt-main-content");

        var cmtData = /*[[${cmt}]]*/ [];

        const cmtBtn = document.querySelector("#cmt-top-btn");
        const cmt = document.querySelector("#cmt-write-box");

        const cmtCmtBtn = document.querySelector(".cmt-main-btn-box >:nth-child(3)");
        const cmtCmt = document.querySelector("#cmt-cmt-write-box");

        cmtInsert.addEventListener("click", function(){
        const text = cmtWrite.value;
          if(text == ""){
            alert("내용을 입력해주세요.");
            return false;
          }
          if (confirm("작성한 내용을 제출하시겠습니까?")) {
                    content.value = text;
                    insertForm.submit();
                } else {
                    return false;
                }
        })

        updateBtns.forEach(function(updateBtn, index) {
        updateBtn.addEventListener("click", function(){

          const currentCmtContents = cmtContents[index];
          const currentCmtUpdate = cmtUpdate[index];
          const deleteBtn = deleteBtns[index];
          const confirmBtn = confirmBtns[index];
          const cancelBtn = cancelBtns[index];

          updateBtn.style.display = "none";
          deleteBtn.style.display = "none";
          confirmBtn.style.display = "block";
          cancelBtn.style.display = "block";

          currentCmtContents.style.display = "none";
          currentCmtUpdate.value = currentCmtContents.textContent;
          currentCmtUpdate.style.display = "block";
          })
        })

        confirmBtns.forEach(function(confirmBtn, index){
          confirmBtn.addEventListener("click", function(){
            const text = cmtUpdate[index].value;
            const updateContent = updateInputs[index];
            const updateForm = updateForms[index];

            if(text == ""){
              alert("내용을 입력해주세요.");
              return false;
            }
            if (confirm("작성한 내용을 제출하시겠습니까?")) {
                    updateContent.value = text;
                    updateForm.submit();

                    updateBtn.style.display = "block";
                    deleteBtn.style.display = "block";
                    confirmBtn.style.display = "none";
                    cancelBtn.style.display = "none";

                    currentCmtContents.style.display = "block";
                    currentCmtUpdate.style.display = "none";
                } else {
                    return false;
                }
          })
        })

        cancelBtns.forEach(function(cancelBtn, index){
          cancelBtn.addEventListener("click", function(){
          const currentCmtContents = cmtContents[index];
          const currentCmtUpdate = cmtUpdate[index];
          const deleteBtn = deleteBtns[index];
          const confirmBtn = confirmBtns[index];
          const updateBtn = updateBtns[index];


                    updateBtn.style.display = "block";
                    deleteBtn.style.display = "block";
                    confirmBtn.style.display = "none";
                    cancelBtn.style.display = "none";

                    currentCmtContents.style.display = "block";
                    currentCmtUpdate.style.display = "none";
          })
        })

        deleteBtns.forEach(function(deleteBtn, index){
          deleteBtn.addEventListener("click", function(){
          if(confirm("삭제하시겠습니까?")){
            var uid = cmtData[index].uid;
            fetch("/delete-cmt", {
            method: "POST",
            mode: "cors",
            credentials: "include",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify({uid : uid}),
            })
          .then(response => {
            if (response.ok) {
                return response.text(); // 서버로부터 받은 text 데이터
            } else {
                throw new Error("서버 응답 오류");
            }
          })
          .then(data => {
            alert(data);
            window.location.href = "posting?uid="+cmtData[index].board_uid;
          })
          .catch((error) => console.log(error))
            } else{
              return false;
            }
          })
        })

        cmtBtn.addEventListener("click", function(){
          fetch("/cmt-session-check", {
            method: "POST",
            mode: "cors",
            credentials: "include",
            headers: {
                "Content-Type": "application/json",
            }
          })
        .then(response => {
            if (response.ok) {
                return response.text(); // 서버로부터 받은 text 데이터
            } else {
                throw new Error("서버 응답 오류");
            }
        })
        .then(data => {
            if(data == "true"){
             if(cmt.style.height == "0px"){
                    cmt.style.height = cmt.scrollHeight + "px";
                  }else{
                    cmt.style.height = "0px";
                  }
              } else{
                  if(confirm("로그인 시 이용가능합니다. 로그인 페이지로 이동하시겠습니까?")){
                  window.location.href = "login";
                  return false;
                }
              return true;
            }
        })
        .catch((error) => console.log(error))
        });

        cmtCmtBtn.addEventListener("click", function(){
          fetch("/cmt-session-check", {
            method: "POST",
            mode: "cors",
            credentials: "include",
            headers: {
                "Content-Type": "application/json",
            }
          })
        .then(response => {
            if (response.ok) {
                return response.text(); // 서버로부터 받은 text 데이터
            } else {
                throw new Error("서버 응답 오류");
            }
        })
        .then(data => {
            if(data == "true"){
             if(cmt.style.height == "0px"){
                    cmtCmt.style.height = cmt.scrollHeight + "px";
                  }else{
                    cmtCmt.style.height = "0px";
                  }
              } else{
                  if(confirm("로그인 시 이용가능합니다. 로그인 페이지로 이동하시겠습니까?")){
                  window.location.href = "login";
                  return false;
                }
              return true;
            }
        })
        .catch((error) => console.log(error))
        });

        const set = () =>{
        const text = cmtWrite.innerHTML;
          console.log(text);
          content.value = text;
        }
</script>
</body>
</html>