<!DOCTYPE html>
<html xmlns:th=”http://www.thymeleaf.org”>
<head>
  <meta charset="UTF-8">
  <title>게시글 보기</title>
  <link rel="stylesheet" href="/css/poststyle.css"/>
  <link rel="stylesheet" href="/css/asidestyle.css"/>
  <link rel="stylesheet" href="/css/boardstyle.css"/>
  <link rel="stylesheet" href="/css/H&Fstyle.css"/>
  <link rel="stylesheet" href="/css/topstyle.css"/>
</head>
<body>
<header th:replace="/layout/layout :: header"></header>
<main>
  <div id="main-top">
    <div id="main-top-title">
      <span>게시글</span>
    </div>
    <div th:replace="/layout/toplayout :: content"></div>
  </div>
  <div th:replace="/layout/asidelayout :: content"></div>
  <div id="post-top-box">
    <ul id="post-top-item-box">
      <li class="post-top-item">
        <span th:text="${posting.writer}"></span>
      </li>
      <li class="post-top-item">
        <span th:text="${@TimeT.date(posting.regdate.toString())}"></span>
      </li>
      <li class="post-top-item">
        <span th:text="${posting.view}"></span>
      </li>
      <li class="post-top-item">
        <span th:text="${posting.upPoint}"></span>
      </li>
    </ul>
  </div>
  <div id="post-top-title-box" >
    <span id="post-top-ctg" th:text="${posting.category}"></span>
    <span id="post-top-title" th:text="${posting.title}"></span>
  </div>
  <div id="post-mid-content-box">
    <p id="post-mid-content" th:utext="${posting.content}"></p>
  </div>
  <form id="update-box" method="post">
    <div id="update-btn" th:if="${member != null && (member.nickName == posting.writer)}">
      <a role="button" th:href="@{/update(uid = ${posting.uid})}">수정</a>
      <a id="delete-btn" th:href="@{/delete(uid = ${posting.uid})}">삭제</a>
    </div>
  </form>
  <form id="post-btm-box">
    <button class="post-btm-btn">
      <span>주소 복사</span>
    </button>
    <div id="up-down-btn">
      <button class="post-btm-btn">
        <img class="btm-btn-img" src="/img/up.svg" alt="x">
      </button>
      <button class="post-btm-btn">
        <img class="btm-btn-img" src="/img/down.svg" alt="x">
      </button>
    </div>
  </form>
  <div id="post-cmt-box">
    <form id="cmt-box" th:action="@{/write-cmt}" onsubmit="return writeCmt()">
      <div id="cmt-top">
        <div id="cmt-top-title">
          <span>댓글</span>
        </div>
        <button type="button" id="cmt-top-btn" th:if="${member != null}">
          <span>작성</span>
        </button>
      </div>
      <div id="cmt-write-box" style="height: 0px;">
        <textarea id="cmt-write"></textarea>
        <input id="input-cmt" type="hidden" name="content">
        <input th:if="${member != null}" id="writer-cmt" type="hidden" name="writer" th:value="${member.email}">
        <input id="boardUid-cmt" type="hidden" name="uid" th:value="${posting.uid}">
        <button id="cmt-btn">
          <span>댓글 달기</span>
        </button>
      </div>
    </form>
    <form>
      <div id="cmt-main-box" th:each="cmt, stat : ${cmtList}">
        <div class="cmt-main">
          <div class="cmt-main-left">
            <div class="cmt-main-nick">
              <span th:text="${cmtList.writer}">닉네임</span>
            </div>
            <button class="cmt-main-update">
              <span>수정</span>
            </button>
            <button class="cmt-main-del">
              <span>삭제</span>
            </button>
          </div>
          <div class="cmt-main-num">
            <span th:text="${cmtList.up_point}">0</span>
          </div>
        </div>
        <div class="cmt-main-content-box">
          <div class="cmt-main-content">
            <p th:utext="${cmtList.content}">내용</p>
          </div>
          <div class="cmt-main-btn-box">
            <button class="cmt-main-btn">
              <img class="cmt-up-img" src="/img/minup.svg" alt="x">
            </button>
            <button class="cmt-main-btn">
              <img class="cmt-down-img" src="/img/mindown.svg" alt="x">
            </button>
            <button type="button" class="cmt-main-btn">
              <span>답글</span>
            </button>
            <button class="cmt-main-btn">
              <span>신고</span>
            </button>
          </div>
        </div>
        <div id="cmt-cmt-write-box" style="height: 0px;">
          <textarea id="cmt-cmt-write"></textarea>
          <input id="input-cmt-cmt" type="hidden" name="content" value="">
          <button type="button" id="cmt-cmt-btn">
            <span>댓글 달기</span>
          </button>
        </div>
      </div>
      <div id="cmt-cmt-box">
        <div class="cmt-main">
          <div class="cmt-main-left">
            <div class="cmt-main-nick">
              <span>닉네임</span>
            </div>
            <button class="cmt-main-update">
              <span>수정</span>
            </button>
            <button class="cmt-main-del">
              <span>삭제</span>
            </button>
          </div>
          <div class="cmt-main-num">
            <span>0</span>
          </div>
        </div>
        <div class="cmt-main-content-box">
          <div class="cmt-main-content">
            <p>내용</p>
          </div>
          <div class="cmt-main-btn-box">
            <button class="cmt-main-btn">
              <img class="cmt-up-img" src="/img/minup.svg" alt="x">
            </button>
            <button class="cmt-main-btn">
              <img class="cmt-down-img" src="/img/mindown.svg" alt="x">
            </button>
            <button class="cmt-main-btn">
              <span>답글</span>
            </button>
            <button class="cmt-main-btn">
              <span>신고</span>
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div th:replace="/layout/boardlayout :: content"></div>
</main>
<footer th:replace="/layout/layout :: footer"></footer>

<script src="/js/SearchCtg.js"></script>
<script src="/js/cmt.js"></script>
<script th:inline="javascript">
        const cmtBtn = document.querySelector("#cmt-btn");
        let text = document.querySelector("#cmt-writ").innerHTML;
        let content = document.querySelector("#input-cmt");

        const cmtContent = document.querySelector(".cmt-main-num > p");
        const cmtText = /*[[${cmtList.content}]]*/
        cmtContent.innerHTML = cmtText;

        const writeCmt = () =>{
          content.value = text;
        }
    </script>

</body>
</html>