<!DOCTYPE html>
<html xmlns:th=”http://www.thymeleaf.org”>
<head>
    <meta charset="UTF-8">
    <title>수정</title>
    <link rel="stylesheet" href="/css/updatestyle.css"/>
    <link rel="stylesheet" href="/css/H&Fstyle.css"/>
    <link href="//cdn.quilljs.com/1.3.6/quill.core.css" rel="stylesheet">
    <link href="//cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">


</head>
<body>
<header th:replace="~{layout/layout :: header}"></header>
<main>
    <div id="main-top">
        <div id="main-top-title">
            <span>수정</span>
        </div>
    </div>
    <div id="caution-box">
        <span>※작성 시 주의 사항</span>
        <p>정보통신망에서 불법촬영물등을 유통할 경우 「전기통신사업법」 제22조의 5 제1항에 따른 삭제.접속차단 등 유통방지에</br>
            필요한 조치가 취해지며 「성폭력처벌법」 제14조 「청소년성보호법」 제11조에 따라 형사처벌을 받을수 있습니다.</p>
    </div>
    <form id="main-content-box" th:action="@{postUpdate}" method="post" onsubmit="return update()">
        <div id="content-top">
            <div id = "category-box">
                <div id = "items">
                    <button id = "item-btn" type = "button">
                        <p>카테고리</p>
                    </button>
                    <ul id = "item-box" style="height: 0px;">
                        <li value="1" class = "option-item">잡담</li>
                        <li value="2" class = "option-item">질문</li>
                        <li value="3" class = "option-item">모집</li>
                        <li value="4" class = "option-item">정보</li>
                    </ul>
                    <input type="hidden" id="category" name="categoryNo" value="">
                </div>
            </div>
            <div id = "title-box">
                <input name="title" id="input-title" th:value="${posting.title}">
            </div>
        </div>
        <input id="content-mid" type="hidden" name="content" value="">
        <div id="editor-box">
            <div id="editor">

            </div>
        </div>
        <div id="content-btm">
            <button class="btm-btn" th:formaction="@{/boardpaging}">
                <span>취소</span>
            </button>
            <input type="hidden" name="uid" th:value="${posting.uid}">
            <button class="btm-btn">수정</button>
        </div>
    </form>
</main>
<footer th:replace="~{layout/layout :: footer}"></footer>
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
<script th:inline="javascript">

        var toolbarOptions = [
              ['bold', 'italic'],        // toggled buttons
              ['underline', 'strike'],        // toggled buttons
              ['blockquote', 'code-block'],

              [{ 'header': 1 }, { 'header': 2 }],               // custom button values
              [{ 'list': 'ordered'}, { 'list': 'bullet' }],
              //[{ 'script': 'sub'}, { 'script': 'super' }],      // superscript/subscript
              [{ 'indent': '-1'}, { 'indent': '+1' }],          // outdent/indent
              [{ 'direction': 'rtl' }, { 'align': [] }],                         // text direction

              [{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme

              ['video', 'image'],

              //['clean']                                         // remove formatting button
            ];

            var quill = new Quill('#editor', {
              modules: {
                toolbar: toolbarOptions
              },
              theme: 'snow'
            });

             var italic = Quill.import('formats/italic');
             italic.tagName = 'i';
             Quill.register(italic, true);


            //-----------------------------------------------------------
             const editor = document.querySelector(".ql-editor");
             const test = /*[[${posting.content}]]*/
             editor.innerHTML = test;
             let content = document.querySelector("#content-mid");
             const itemBtn = document.querySelector("#item-btn");
             const optionItems = document.querySelectorAll(".option-item");
             const itemBox = document.querySelector("#item-box");
             const formCategory = document.querySelector("#category");

             itemBtn.addEventListener("click", ()=> {
                if(itemBox.style.height == "0px"){
                    itemBox.style. height = itemBox.scrollHeight + "px";
                }else{
                    itemBox.style. height = "0px";
                }
            });

            optionItems.forEach((item) => {
              item.addEventListener("click", (e) => {
                itemBtn.firstElementChild.textContent = item.textContent;
                itemBox.style.height = "0px";
                formCategory.value = e.target.value;
              });
            });

            editor.addEventListener("click", ()=>{
                if(itemBox.style.height != "0px"){
                    itemBox.style. height = "0px";
                }
            })

            const update = () =>{
                let text = document.querySelector(".ql-editor").innerHTML;
                content.value = text;
             }
</script>
</body>
</html>