<!DOCTYPE html>
<html xmlns:th=”http://www.thymeleaf.org”>
<head>
    <meta charset="UTF-8">
    <title>회원 가입</title>
    <link rel="stylesheet" href="/css/accountstyle.css"/>
    <link rel="stylesheet" href="/css/H&Fstyle.css"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <header th:replace="~{layout/layout :: header}"></header>
    <main>
      <div id="account-title">
          <span>회원 가입</span>
      </div>
        <div id="TermsofUse"></div>
      <form id="account-box" th:object="${registerDto}" th:action="@{newaccount}" method="post">
          <div id="tou-check">
              <input type="checkbox" id="check" name="terms">
              <span>이용 약관을 읽었으며 동의합니다.</span>
              <span class="failed" th:if="${#fields.hasErrors('terms')}" th:errors="*{terms}"></span>
          </div>
          <div id="account-email">
              <div id="account-email-title">
                  <span class="account-input-title">이메일</span>
                  <span class="failed" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
                  <span id="email-validation-message"></span>
              </div>
              <div class="account-input-box">
                  <input id="input-email" type="text" name="email" th:field="*{email}">
                  <button id="mail-send" type="button">코드 전송</button>
              </div>
          </div>
          <div style="display: none;" id="account-code">
              <div id="account-code-title">
                  <span class="account-input-title">이메일 코드</span>
                  <span class="failed" id="mail-code-valid"></span>
              </div>
              <div class="account-input-box">
                  <input class="account" type="text" name="insertKey">
                  <button type="button" id="send-code-check" class="validation-btn">확 인</button>
              </div>
          </div>
          <div id="account-pw">
              <div id="account-pw-title">
                  <span class="account-input-title">비밀번호</span>
                  <span>/6자리 이상, 특수문자 포함</span>
                  <span class="failed" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
              </div>
              <div class="account-input-box">
                  <input id="input-pw" type="password" name="password" th:field="*{password}">
              </div>
          </div>
          <div id="account-pw-check">
              <div id="account-pw-check-title">
                  <span class="account-input-title">비밀번호 확인</span>
                  <span id="pw-validation-message"></span>
              </div>
              <div class="account-input-box">
                  <input id="input-check" type="password" name="passwordCheck" th:field="*{passwordCheck}">
              </div>
          </div>
          <div id="account-nick">
              <div id="account-nick-title">
                  <span class="account-input-title">닉네임</span>
                  <span class="failed" th:if="${#fields.hasErrors('nickName')}" th:errors="*{nickName}"></span>
                  <span id="nick-validation-message"></span>
              </div>
              <div class="account-input-box">
                  <input id="nick-input" type="text" name="nickName" th:field="*{nickName}">
              </div>
          </div>
          <div id="account-btn-box">
              <button id="account-btn">
                  <span>가입 하기</span>
              </button>
          </div>
      </form>
    </main>
    <footer th:replace="~{layout/layout :: footer}"></footer>


    <script th:inline="javascript">
        const emailInput = document.querySelector("#input-email");
        const emailMsg = document.querySelector("#email-validation-message");

        const pwCheckInput = document.querySelector("#input-check");
        const pwInput = document.querySelector("#input-pw");
        const pwMsg = document.querySelector("#pw-validation-message");

        const nickInput = document.querySelector("#nick-input");
        const nickMsg = document.querySelector("#nick-validation-message");

        const validMsg = document.querySelector(".failed");

        const mailSendBtn = document.querySelector("#mail-send");
        const codeInput = document.querySelector("#account-code");
        const sendCheckBtn = document.querySelector("#send-code-check");
        const mailCodeValid = document.querySelector("#mail-code-valid");

        const emailRegex = /^[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*.[a-zA-Z]{2,3}$/i;
        const pwRegex = /^(?=.*?[0-9])(?=.*?[#?!@$ %^&*-]).{6,}$/;
        const nickRegex = /^\S+$/;

        emailInput.addEventListener("blur", function(){
        const email = emailInput.value;
        console.log()
        fetch("/emailtest", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify({email}),
         })
          .then(response => {
            if (response.ok) {
                return response.text(); // 서버로부터 받은 text 데이터
            } else {
                throw new Error("서버 응답 오류");
            }
        })
        .then(data => {
            console.log(emailRegex.test(email))
            console.log(data)
            if(emailRegex.test(email) == true){
                emailMsg.textContent = data;
                } else {
                    emailMsg.textContent = "잘 못된 형식 입니다.";
                }
        })
        .catch((error) => console.log(error))
        });

        pwCheckInput.addEventListener("blur", function(){
            if(pwRegex.test(pwCheckInput.value) == true){
            if(pwInput.value != pwCheckInput.value){
                pwMsg.textContent = "일치 하지 않습니다.";
            } else{
                pwMsg.textContent = "사용 가능합니다.";
            }
        }else {
            pwMsg.textContent = "비밀번호는 최소 6자리 이상의 영문과 숫자, 특수문자가 최소 한 개 포함되어야 합니다.";
        }
        })

        nickInput.addEventListener("blur", function(){
        const nick = nickInput.value;
        console.log()
        fetch("/nicktest", {
            method: "POST",
            headers: {"Content-Type": "application/json"
            },
            body: JSON.stringify({nick}),
         })
          .then(response => {
            if (response.ok) {
                return response.text(); // 서버로부터 받은 text 데이터
            } else {
                throw new Error("서버 응답 오류");
            }
        })
        .then(data => {
                console.log(nick)
                if(nickRegex.test(nick) == true){
                    nickMsg.textContent = data;
                } else{
                    nickMsg.textContent = "공백이 포함될 수 없습니다.";
                }
        })
        .catch((error) => console.log(error))
        });

        mailSendBtn.addEventListener("click", function(){
        const email = emailInput.value;
        codeInput.style.display = 'block';
        console.log()
        fetch("/sendmail", {
            method: "POST",
            headers: {"Content-Type": "application/json"
            },
            body: JSON.stringify({email}),
         })
          .then(response => {
            if (response.ok) {
                console.log(response.text());
                return response.text(); // 서버로부터 받은 text 데이터
            } else {
                throw new Error("서버 응답 오류");
            }
        })
        .then(data => {
            console.log()
        })
        .catch((error) => console.log(error))
        });

    </script>
</body>
</html>