<!DOCTYPE html>
<html xmlns:th=”http://www.thymeleaf.org”>
<head>
    <meta charset="UTF-8">
    <title>회원 가입</title>
    <link rel="stylesheet" href="/css/accountstyle.css"/>
    <link rel="stylesheet" href="/css/H&Fstyle.css"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <header th:replace="/layout/layout :: header"></header>
    <main>
      <div id="account-title">
          <span>회원 가입</span>
      </div>
        <div id="TermsofUse"></div>
      <form id="account-box" th:object="${registerDto}" th:action="@{accountValidTest}" method="post">
          <div id="tou-check">
              <input type="checkbox" id="check" name="terms">
              <span>이용 약관을 읽었으며 동의합니다.</span>
              <!--/*이용 약관 체크*/-->
              <span class="failed" th:if="${#fields.hasErrors('terms')}" th:errors="*{terms}"></span>
          </div>
          <div id="account-email">
              <div id="account-email-title">
                  <div class="title-box">
                      <span class="account-input-title">이메일</span>
                  </div>
                  <!--/*공백 감지시*/-->
                  <span class="failed" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
                  <span id="email-validation-message"></span>
              </div>
              <div class="account-input-box">
                  <input id="input-email" type="text" name="email" th:field="*{email}" >
                  <button type="button" id="email-check">중복 확인</button>
              </div>
          </div>
          <div style="display: none;" id="account-code">
              <div id="account-code-title">
                  <div class="title-box">
                      <span class="account-input-title">이메일 코드</span>
                  </div>
                  <span class="failed">유효성 검사 실패시 문장 출력</span>
              </div>
              <div class="account-input-box">
                  <input class="account" type="text" name="code">
                  <button class="validation-btn">
                      <span>확 인</span>
                  </button>
              </div>
          </div>
          <div id="account-pw">
              <div id="account-pw-title">
                  <div class="title-box">
                      <span class="account-input-title">비밀번호</span>
                  </div>
                  <span>/6자리 이상, 특수문자 포함</span>
                  <span class="failed" th:if="${#fields.hasErrors('pw')}" th:errors="*{pw}"></span>
              </div>
              <div class="account-input-box">
                  <input class="account" type="password" name="pw" th:field="*{pw}">
              </div>
          </div>
          <div id="account-pw-check">
              <div id="account-pw-check-title">
                  <div class="title-box">
                      <span class="account-input-title">비밀번호 확인</span>
                  </div>
                  <span class="failed" th:if="${#fields.hasErrors('pwCheck')}" th:errors="*{pwCheck}"></span>
              </div>
              <div class="account-input-box">
                  <input class="account" type="password" name="pwCheck" th:field="*{pwCheck}">
                  <button class="validation-btn">
                      <span>확 인</span>
                  </button>
              </div>
          </div>
          <div id="account-nick">
              <div id="account-nick-title">
                  <div class="title-box">
                      <span class="account-input-title">닉네임</span>
                  </div>
                  <span class="failed" th:if="${#fields.hasErrors('nick')}" th:errors="*{nick}"></span>
              </div>
              <div class="account-input-box">
                  <input class="account" type="text" name="nick" th:field="*{nick}">
                  <button class="validation-btn">
                      <span>중복 확인</span>
                  </button>
              </div>
          </div>
          <div id="account-btn-box">
              <button id="account-btn">
                  <span>가입 하기</span>
              </button>
          </div>
      </form>
    </main>
    <footer th:replace="/layout/layout :: footer"></footer>


    <script th:inline="javascript">
        const emailInput = document.querySelector("#input-email");
        const emailValidBtn = document.querySelector("#email-check");
        const emailMsg = document.querySelector("#email-validation-message");
        const emailMsg = document.querySelectorAll(".failed");


        emailValidBtn.addEventListener("click", function(){
        const email = emailInput.value;
        fetch("/test", {
            method: "POST",
            headers: {"Content-Type": "application/json"
            },
            body: JSON.stringify({email}),
         })
          .then(response => {
            if (response.ok) {
                return response.text(); // 서버로부터 받은 text 데이터
            } else {
                throw new Error("서버 응답 오류");
            }
        })
        .then(data => {
            console.log(data)
            emailMsg.textContent = data;
        })
          .catch((error) => console.log(error))
        });
    </script>
</body>
</html>