<!DOCTYPE html>
<html xmlns:th=”http://www.thymeleaf.org”>
<head>
  <meta charset="UTF-8">
  <title>로그인</title>
  <link rel="stylesheet" href="/css/loginstyle.css"/>
  <link rel="stylesheet" href="/css/H&Fstyle.css"/>
</head>
<body>
  <header th:replace="~{layout/layout :: header}"></header>
  <main>
    <form id="login-box" th:object="${memberDto}" th:action="@{login}" method="post">
      <div class="email-login-box">
        <div id="email-login-title">로그인</div>
        <div class="input-box">
          <span>이메일</span>
          <input id="email" type="text" name="email" >
        </div>
        <div class="input-box">
          <span>비밀번호</span>
          <input id="pw" type="password" name="password">
        </div>
        <div th:if="${#fields.hasGlobalErrors()}">
          <p class="login-valid" th:each="err : ${#fields.globalErrors()}" th:text="${err}">전체 오류 메시지</p>
        </div>
        <div class="login-btm">
          <div id="find-box">
            <a id="find">아이디/비밀번호 찾기</a>
          </div>
          <div id="login-btn-box">
            <button class="login-btn">로그인</button>
            <button formaction="/account" class="login-btn">회원 가입</button>
          </div>
        </div>
      </div>
<!--      <div class="email-login-box">-->
<!--        <div id="sns-login-title">-->
<!--          <span>소셜 로그인</span>-->
<!--        </div>-->
<!--        <div id="sns-box">-->
<!--          <button type="button" class="sns-btn">-->
<!--            <a th:href="@{/account/auth/{Sosial}/callback(Sosial=${google}}">-->
<!--            <img class="sns-btn-img" src="/img/GoogleLogo.svg">-->
<!--            <span class="sns-btn-text">구글 로그인</span>-->
<!--            </a>-->
<!--          </button>-->
<!--          <button type="button" class="sns-btn">-->
<!--            <img class="sns-btn-img" src="/img/GoogleLogo.svg">-->
<!--            <span class="sns-btn-text">구글 로그인</span>-->
<!--          </button>-->
<!--          <button type="button" class="sns-btn">-->
<!--            <img class="sns-btn-img" src="/img/GoogleLogo.svg">-->
<!--            <span class="sns-btn-text">구글 로그인</span>-->
<!--          </button>-->
<!--        </div>-->
<!--      </div>-->
    </form>
  </main>
</body>
<footer th:replace="~{layout/layout :: footer}"></footer>
</html>