<!DOCTYPE html>
<html xmlns:th=”http://www.thymeleaf.org”>
<head>
  <meta charset="UTF-8">
  <title>회원 정보</title>
  <link rel="stylesheet" href="/css/memberstyle.css"/>
  <link rel="stylesheet" href="/css/H&Fstyle.css"/>
</head>
<body>
<header th:replace="~{layout/layout :: header}"></header>
<main>
  <div id="main-top">
    <div id="main-top-box">
      <div id="main-top-title">
        <span>회원 정보</span>
      </div>
      <button id="main-top-btn">변경 하기</button>
    </div>
    <div id="main-top-profile">
      <div id="profile-img-box">
        <img id="profile-img" src="" alt="x">
      </div>
    </div>
  </div>
  <div id="main-nav">
    <ul id="main-nav-box">
      <li class="nav-item-box">
        <div class="nav-item">
          <span>회원 정보</span>
        </div>
      </li>
    </ul>
  </div>
  <form id="main-ct" th:action="userUpdate" method="post" onsubmit="return update()">
    <div id="main-ct-ctn">
      <div id="main-ct-box">
        <div class="main-ct">
          <span class="ct-title">이메일</span>
          <div class="ct-box">
            <span class="ct" th:text="${member.email}"></span>
            <input class="email-input" type="hidden" name="email" th:value="${member.email}">
          </div>
        </div>
        <div class="main-ct">
          <span class="ct-title">닉네임</span>
          <div class="ct-box">
            <span id="ct-nick" th:text="${member.nickName}"></span>
            <input class="nick-input" type="hidden" name="nickName" value="">
          </div>
        </div>
        <div class="main-ct">
          <span class="ct-title">가입일자</span>
          <div class="ct-box">
            <span class="ct" th:text="${member.createDate}"></span>
          </div>
        </div>
      </div>
      <div id="btn-box">
        <button id="update-btn">수정하기</button>
        <button type="button" id="btn" onclick="input()">수정</button>
      </div>
    </div>
  </form>
</main>
<footer th:replace="~{layout/layout :: footer}"></footer>
<script th:inline="javascript">
  const btn = document.querySelector("#btn");
  const updateBtn = document.querySelector("#update-btn");
  const nickText = document.querySelector("#ct-nick");
  const nickInput = document.querySelector(".nick-input");
  const nick = /*[[${member.nickName}]]*/

  const input = () =>{
    btn.style.display = 'none';
    updateBtn.style.display = 'block';
    nickText.style.display = 'none';
    nickInput.setAttribute("type", "text");
    nickInput.value= nick;
  }

  const update = () =>{
    btn.style.display = 'block';
    updateBtn.style.display = 'none';
    nickText.style.display = 'block';
    nickInput.setAttribute("type", "hidden");
  }

</script>
</body>
</html>