/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*------------ reset end-------------- */

#main-top{
    display: flex;
    margin: 16px auto 0px auto;
    width: 1184px;
    justify-content: space-between;
}

#main-top-title{
    display: flex;
    align-items: center;
    width: 200px;
    height: 51px;
    border-bottom: 1px #f3bd86 solid;
    justify-content: center;
    font-size: 24px;
    letter-spacing: -1px;
}


#top-ct-ctn{
    display: flex;
    width: 1184px;
    margin: 8px auto 26px auto;
    gap: 16px;
}

.top-ct-box{
    border-bottom: 2px #E79141 solid;
    border-radius: 7px;
    height: 230px;
}

.top-ct-title{
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px #E79141 solid;
    width: 78px;
    height: 31px;
    margin: 16px 0 8px 16px;
    letter-spacing: -1px;
}

.top-topic-box{
    margin: 0 16px;
}

.top-topic-item{
    height: 41px;
    width: 551px;
    display: grid;
    grid-template-columns: 2fr 0.5fr 0.5fr 0.5fr;
    align-items: center;
    color: #525252;
    border-bottom: 1px #bfbfbf solid;
    letter-spacing: -1px;
}

.topic-title{
    margin-left: 16px;
}

#main-content{
    display: flex;
    gap: 16px;
    justify-content: space-between;
    margin-top: 32px;
}

#board-box{
    width: 872px;
    height: 820px;
    border-bottom: 2px #E79141 solid;
}

#guide-list{
    display: grid;
    grid-template-columns: 0.5fr 3fr 0.5fr 0.5fr 0.5fr 0.5fr;
    padding-left: 12px;
    height: 40px;
    align-items: center;
    background-color: #F5D8BC;
    border-bottom: 1px black solid;
}

.board-list{
    display: grid;
    grid-template-columns: 0.5fr 3fr 0.5fr 0.5fr 0.5fr 0.5fr;
    padding-left: 12px;
    height: 51px;
    align-items: center;
    border-bottom: 1px #a7a7a7 solid;
}

.board-list > li{
     font-size: 14px;
}

.board-list > :nth-child(2) > a{
    text-decoration: none;
    color: black;
}

#main-side{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

#side-banner-box{
    width: 284px;
    height: 310px;
    border: 1px #b9b9b9 solid;
}

#main-mid-hotTopic{
    width: 284px;
    height: 300px;
    border-radius: 12px;
    border: 2px solid #ff9c3f;
}

#mid-hotTopic-title{
    display: flex;
    width: 61px;
    height: 31px;
    border-bottom: 1px solid #E79141;
    margin: 8px 0px 0px 8px;
    align-items: center;
    justify-content: center;
    font-weight: 550;
    letter-spacing: -1px;
}

#ht-box{
    margin-top: 10px;
    padding: 0px 8px;
}

#ht-box > ul{
    display: grid;
    grid-template-columns: 1fr 2fr 0.7fr;
    padding: 6px;
    border-bottom: 1px #818181 solid;
    color: #818181;
    font-size: 14px;
    letter-spacing: -1px;
}



#page{
    display: flex;
    justify-content: flex-end;
    gap: 165px;
    margin-top: 24px;
    width: 872px;
}

#page-box{
    display: flex;
    align-items: center;
    gap: 8px;
}

#write-btn > :first-child:hover{
    cursor: pointer;
}
#write-btn > :first-child:active{
	border: 1px #ff9c3f solid;
	color: black;
	transition-duration: 0.3s;
}

#write-btn > :first-child{
    width: 80px;
    height: 32px;
    border-radius: 12px;
    border: 1px #9b9b9b solid;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: -2px;
    margin-left: 130px;
    text-decoration: none;
    color: #ffa569;
}

#search{
    display: flex;
    justify-content: center;
    gap: 16px;
    flex-direction: column;
}

#search-category{
    height: 32px;
    border-radius: 7px;
    border: 1px #e79141 solid;
}

#category-btn{
    width: 64px;
    height: 32px;
    border: none;
    background-color: white;
    border-radius: 7px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 14px;
    color: #6c6b6b;
    font-weight: bold;
}

#category-btn:hover{
	cursor: pointer;
}

#category-btn:active{
	cursor: pointer;
	background-color:#f5d8bc;
}

.category-item:active{
	cursor: pointer;
	background-color:#f5d8bc;
}

#category-box > :first-child{
    border-bottom: 1px #bdbdbd solid;
    border-top: 1px #bdbdbd solid;
}

#category-box:hover{
	cursor: pointer;
}

#category-box{
    overflow: hidden;
    transition-duration: 0.3s;
    border-top: none;
    border-radius: 7px;
    box-shadow: 0px 4px 9px -2px black;
    position: relative;
}

.category-item{
    width: 64px;
    height: 32px;
    line-height: 32px;
    color: #6c6b6b;
    font-weight: bold;
}

.category-item > p{
    padding-left: 8px;
}

#search-bar{
    width: 260px;
    height: 32px;
    padding-left: 24px;
    outline: none;
    border: 2px #e79141 solid;
    border-radius: 50px;
}

#s-box{
    position: relative;
}

#search-img{
    width: 24px;
    height: 24px;
}

#search{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 46px;
    width: 872px;
    gap: 24px;
    flex-direction: row;
    margin-top: 16px;
}

#pp-btn{
    text-decoration: none;
}

#pp-btn > :first-child{
    position: relative;
        left: 10px;
}

#nn-btn{
    text-decoration: none;
}

#nn-btn > :last-child{
    position: relative;
        right: 10px;
}

.page-num-box{
    width: 16px;
        height: 16px;
        border-radius: 50px;
        border: 2px #62a5f4 solid;
        text-align: center;
}

.page-link{
    text-decoration: none;
        color: black;
        font-weight: bold;
}

.page-num{
    color: #ffa569;
}

#s-btn{
    width: 24px;
    height: 24px;
    position: absolute;
    right: 24px;
    top: 8px;
    border: none;
    background-color: white;
}