/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*------------ reset end-------------- */
#header-top{
    display: flex;
    justify-content: center;
    height: 160px;
    align-items: center;
    gap: 16px;
}

#header-search{
    padding: 90px 0px 0px 0px;
}

#header-search-icon{
    position: absolute;
    padding: 10px 0px 0px 16px;
    width: 28px;
    height: 28px;
}

#header-search-bar{
    width: 295px;
    height: 40px;
    letter-spacing: -1px;
    font-size: 16px;
    color: black;
    border-radius: 30px;
    border: 2px #ff9c3f solid;
    padding-left: 45px;
    outline: none;
}

#header-nav{
    border-bottom: 3px #ff9c3f solid;
    border-top: 1px #ff9c3f solid;
}

#nav-box{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 48px;
    width: 1184px;
    margin: 0 auto;
}

.nav-item {
    width: 104px;
    border-right: 1px #ff9c3f solid;
    border-radius: 3px;
}

.nav-link{
    text-decoration: none;
    color: #ffa569;
    letter-spacing: -1px;
    font-size: 18px;
    font-weight: bold;
}

.nav-logo{
    width:40px;

}

main{
    width: 1184px;
    margin: 0 auto;
    padding: 0px 8px;
    min-height: calc(100vh);
}

footer{
    margin-top: 120px;
}

#footer-box{
    height: 60px;
    border-top: 3px #ff9c3f solid;
    display: flex;
    justify-content: center;
    gap: 82px;
    padding-right: 16px;
    margin-top: 30px;
}

#footer-logo{
    width: 100px;
    height: 60px;
}

#footer-item-box{
    display: flex;
    gap: 32px;
    align-items: center;
    letter-spacing: -1px;
}

/*------------header & footer-------------- */