<!DOCTYPE html>
<html xmlns:th=”http://www.thymeleaf.org”>
<head>
  <meta charset="UTF-8">
  <title>aside</title>
  <link rel="stylesheet" href="/css/asidestyle.css"/>
</head>
<body>
<main>
  <div th:fragment="content">
      <div id="main-side">
        <div id="side-banner-box">
          <img id="side-banner" src="" alt="x">
        </div>
        <div id="main-mid-hotTopic">
          <div id="mid-hotTopic-title">
            <span>화제글</span>
          </div>
          <div id="ht-box">
            <ul>
              <li class="item-ctg">[게시판]</li>
              <li class="item-title">[제목]</li>
              <li class="item-up-point">[0]</li>
            </ul>
          </div>
        </div>
      </div>
  </div>
</main>
</body>
</html>