<!DOCTYPE html>
<html xmlns:th=”http://www.thymeleaf.org”>
<head>
    <meta charset="UTF-8">
    <title>We Are club!!</title>
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="/css/H&Fstyle.css"/>
</head>
<body>
    <header>
        <div id="header-top">
            <a th:href="@{index}" id="header-logo-link">
                <img id="header-logo" src="/img/club.svg" alt="x">
            </a>
            <!--검색창-->
            <form id="header-search" th:action="@{/}" method="post">
                <img id="header-search-icon" src="/img/search.svg" alt="x">
                <input id="header-search-bar" name="total-search" type="text">
            </form>
        </div>
        <div id="header-nav">
            <ul id="nav-box">
                <li class="nav-item">
                    <div>
                        <a class="nav-link" th:href="@{/boardpaging}">
                            <span>자유 게시판</span>
                            <img class="nav-logo" src="/img/club.svg" alt="x">
                        </a>
                    </div>
                </li>
                <li class="nav-item">
                    <div>
                        <a class="nav-link" th:href="@{/}">
                            <span>풋살 게시판</span>
                            <img class="nav-logo" src="/img/club.svg" alt="x">
                        </a>
                    </div>
                </li>

            </ul>
        </div>
    </header>
    <main>
        <div id="main-top">
            <div id="main-top-bannerBox"></div>
            <div id="main-top-loginBox" th:unless="${member}">
                    <a type="button" th:href="@{login}" id="login-btn">로그인</a>
                    <a type="button" th:href="@{account}" id="create-act">회원 가입</a>
            </div>
            <div id="main-top-infoBox" th:if="${member}">
                <div>
                    <p th:text="${member.nickName} + '님 안녕하세요.'"></p>
                </div>
                <div>
                    <a type="button" th:href="@{logout}" id="logout-btn">로그 아웃</a>
                </div>
            </div>
        </div>
        <div id="main-mid">
            <div id="main-mid-news">
                <div id="news-top">
                    <div id="news-title">
                        <span>스포츠 뉴스</span>
                    </div>
                    <form id="news-ctg">
                        <button class="news-ctg-btn">종목</button>
                        <button class="news-ctg-btn">종목</button>
                        <button class="news-ctg-btn">종목</button>
                        <button class="news-ctg-btn">종목</button>
                    </form>
                </div>
                <div id="mid-news-box">
                    <ul>
                        <li class="news-item-title">
                            <a class="item-link">뉴스 기사 링크</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="main-mid-hotTopic">
                <div id="mid-hotTopic-title">
                    <span>화제글</span>
                </div>
                <div id="ht-box">
                    <ul>
                        <li class="item-ctg">[게시판]</li>
                        <li class="item-title">[제목]</li>
                        <li class="item-up-point">[0]</li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="main-btm">
            <div class="main-btm-boardBox">
                <div class="boardBox-top">
                    <div class="boardBox-title">
                        <span>자유 게시판</span>
                    </div>
                    <div class="board-more">
                        <a th:href="@{/boardpaging}">더보기 +</a>
                    </div>
                </div>
                <div class="board-list-box">
                    <ul class="board-list" th:each="pagingList, stat : ${boardPagingList}">
                        <li class="list-ctg" th:text="${pagingList.category}">[카테고리]</li>
                        <li class="list-title">
                            <a class="post-link" th:text="${pagingList.title}" th:href="@{/posting(uid = ${pagingList.uid})}"></a>
                        </li>
                        <li class="list-regdate" th:text="${@TimeT.getTimeT(pagingList.regdate.toString())}">[날짜]</li>
                        <li class="list-writer" th:text="${pagingList.writer}">[작성자]</li>
                        <li class="list-view" th:text="${pagingList.view}">[조회수]</li>
                        <li class="list-up" th:text="${pagingList.upPoint}">[추천수]</li>
                    </ul>
                </div>
            </div>
            <div class="main-btm-boardBox">
                <div class="boardBox-top">
                    <div class="boardBox-title">
                        <span>풋살 게시판</span>
                    </div>
                    <div class="board-more">
                        <span>더보기 +</span>
                    </div>
                </div>
                <div class="board-list-box">
                    <ul class="board-list">
                        <li class="list-ctg">[카테고리]</li>
                        <li class="list-title">[제목]</li>
                        <li class="list-regdate">[날짜]</li>
                        <li class="list-writer">[작성자]</li>
                        <li class="list-view">[조회수]</li>
                        <li class="list-up">[추천수]</li>
                    </ul>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div id="footer-box">
            <img id="footer-logo" src="img/club.svg" alt="x">
            <ul id="footer-item-box">
                <li class="footer-item">
                    <a class="footer-item-link">문의 하기</a>
                </li>
                <li class="footer-item">
                    <a class="footer-item-link">이용 약관</a>
                </li>
                <li class="footer-item">
                    <a class="footer-item-link">개인정보처리방침</a>
                </li>
            </ul>
        </div>
    </footer>
</body>
</html>