<!DOCTYPE html>
<html xmlns:th=”http://www.thymeleaf.org”>
<head>
  <meta charset="UTF-8">
  <title>로그인</title>
  <link rel="stylesheet" href="/css/loginstyle.css"/>
  <link rel="stylesheet" href="/css/H&Fstyle.css"/>
</head>
<body>
  <header th:replace="layout :: header"></header>
  <main>
    <form id="login-box">
      <div class="email-login-box">
        <div id="email-login-title">
          <span>로그인</span>
        </div>
        <div id="email-pw-box">
          <div id="email-box">
            <span>이메일</span>
            <input id="email" type="text" name="email">
          </div>
          <div id="pw-box">
            <span>비밀번호</span>
            <input id="pw" type="password" name="password">
          </div>
        </div>
        <div id="find-box">
        <a id="find">아이디/비밀번호 찾기</a>
        </div>
        <div id="save-box">
          <div id="save-email-box">
            <input id="save-email" type="checkbox" name="save-email">
            <span>이메일 저장하기</span>
          </div>
          <div id="save-login-box">
            <input id="save-login" type="checkbox" name="save-login">
            <span>로그인 유지하기</span>
          </div>
        </div>
        <div id="login-btn-box">
          <button class="login-btn">로그인</button>
          <button formaction="/account" class="login-btn">회원 가입</button>
        </div>
      </div>
      <div class="email-login-box">
        <div id="sns-login-title">
          <span>소셜 로그인</span>
        </div>
        <div id="sns-box">
          <button class="sns-btn">
            <a th:href="@{/account/auth/{Sosial}/callback(Sosial=${google}}">
            <img class="sns-btn-img" src="/img/GoogleLogo.svg">
            <span class="sns-btn-text">구글 로그인</span>
            </a>
          </button>
          <button class="sns-btn">
            <img class="sns-btn-img" src="/img/GoogleLogo.svg">
            <span class="sns-btn-text">구글 로그인</span>
          </button>
          <button class="sns-btn">
            <img class="sns-btn-img" src="/img/GoogleLogo.svg">
            <span class="sns-btn-text">구글 로그인</span>
          </button>
          <img id="sns-login-img" src="/img/club.svg" alt="x">
        </div>
      </div>
    </form>
  </main>
</body>
<footer th:replace="layout :: footer"></footer>
</html>