<!DOCTYPE html>
<html xmlns:th=”http://www.thymeleaf.org”>
<head>
  <meta charset="UTF-8">
  <title>로그인</title>
  <link rel="stylesheet" href="/css/loginstyle.css"/>
  <link rel="stylesheet" href="/css/H&Fstyle.css"/>
</head>
<body>
  <header>
    <div id="header-top">
      <a th:href="@{/}" id="header-logo-link">
        <img id="header-logo" src="/img/club.svg" alt="x">
      </a>
      <!--검색창-->
      <form id="header-search" th:action="@{/}" method="post">
        <img id="header-search-icon" src="/img/search.svg" alt="x">
        <input id="header-search-bar" name="total-search" type="text">
      </form>
    </div>
    <div id="header-nav">
      <ul id="nav-box">
        <li class="nav-item">
          <div>
            <a class="nav-link" th:href="@{/}">
              <span>자유 게시판</span>
              <img class="nav-logo" src="/img/club.svg" alt="x">
            </a>
          </div>
        </li>
        <li class="nav-item">
          <div>
            <a class="nav-link" th:href="@{/}">
              <span>풋살 게시판</span>
              <img class="nav-logo" src="/img/club.svg" alt="x">
            </a>
          </div>
        </li>
      </ul>
    </div>
  </header>
  <main>
    <form id="login-box">
      <div class="email-login-box">
        <div id="email-login-title">
          <span>로그인</span>
        </div>
        <div id="email-pw-box">
          <div id="email-box">
            <span>이메일</span>
            <input id="email" type="text" name="email">
          </div>
          <div id="pw-box">
            <span>비밀번호</span>
            <input id="pw" type="password" name="password">
          </div>
        </div>
        <div id="find-box">
        <a id="find">아이디/비밀번호 찾기</a>
        </div>
        <div id="save-box">
          <div id="save-email-box">
            <input id="save-email" type="checkbox" name="save-email">
            <span>이메일 저장하기</span>
          </div>
          <div id="save-login-box">
            <input id="save-login" type="checkbox" name="save-login">
            <span>로그인 유지하기</span>
          </div>
        </div>
        <div id="login-btn-box">
          <button class="login-btn">로그인</button>
          <button class="login-btn">회원 가입</button>
        </div>
      </div>
      <div class="email-login-box">
        <div id="sns-login-title">
          <span>소셜 로그인</span>
        </div>
        <div id="sns-box">
          <button class="sns-btn">구글</button>
          <button class="sns-btn">구글</button>
          <button class="sns-btn">구글</button>
          <img id="sns-login-img" src="/img/club.svg" alt="x">
        </div>
      </div>
    </form>
  </main>
</body>
<footer>
  <div id="footer-box">
    <img id="footer-logo" src="img/club.svg" alt="x">
    <ul id="footer-item-box">
      <li class="footer-item">
        <a class="footer-item-link">문의 하기</a>
      </li>
      <li class="footer-item">
        <a class="footer-item-link">이용 약관</a>
      </li>
      <li class="footer-item">
        <a class="footer-item-link">개인정보처리방침</a>
      </li>
    </ul>
  </div>
</footer>
</html>